build/CMake
build/win
build/linux
.vscode
*.vs
*.csproj.user
obj
build/__pycache__
external/rmv
external/update_check_api
external/system_info_utils
external/rdf
external/third_party
external/amd_gpu_dis
external/comgr
external/isa_spec_manager
external/isa_spec_xml
Buildinfo.properties
rgd_version_info.h
documentation/build
*~
*.aps